.Rproj.user
.Rhistory
.RData
.Ruserdata
# deployment directory
rsconnect/
# ignore .html output files
*.html
# ignore generated images and files
NetDegree_files/
NetStatus_files/
NetBrokerage_files/
NetRoles_files/
# mac stuff
.DS_Store
